
@{
    ViewBag.Title = "Logout";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div>
    BAŞARIYLA ÇIKIŞ YAPILDI ANA SAYFAYA YÖNLENDİRİLİYORSUNUZ
    <meta http-equiv="refresh" content="3;url=/" />

</div>
